*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content { 
  display: flex;
  align-items: end;
  padding-top: 93px;
  padding-left: 22px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-top: 70px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 384px;
  position: relative;
}

.result__video {
  position: relative;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: start;
  margin-top: 18px;
  gap: 40px;
  cursor: pointer;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  border: none;
}

.search-form__label {
  display: flex;
  align-items: start;
  justify-content: space-between;
  cursor: pointer;
  gap: 5px;
}

.search-form__label:focus {
  outline: 0;
}

.search-form__label:hover {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 5px solid rgb(255, 255, 255);
}

.search-form__label:focus {
  outline-offset: 0;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}

.search-form__checkbox-list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
}

.search-form__fieldset-title {
  display: flex;
  min-width: 212px;
  min-height: 27px;
  align-items: start;
  font-weight: inherit;
  line-height: 22px;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
}

.search-form__textfield {
  display: flex;
  align-items: start;
  font-weight: inherit;
  appearance: none;
  line-height: 22px;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  background-color: transparent;
  min-width: 225px;
  min-height: 27px;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
  border-left: none;
  border-right: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 100%;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield::has(:focus-visible) {
  outline-offset: 1;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active { 
box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
}

.search-form__textfield:hover {

} 

.search-form__textfield:focus-visible {
  box-sizing: border-box;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
} 

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height:19px;
  border: 1px solid #fff;
  cursor: pointer;

}

.search-form__pseudo-checkbox:active {
 outline: 1px solid rgb(255, 255, 255);
}

.search-form__pseudo-checkbox+span:hover {
  border: 1px solid rgb(255, 255, 255);
  text-decoration: underline;
}

.search-form__pseudo-checkbox:focus {
  outline: 1px solid rgb(255, 255, 255);
}


.search-form__checkbox:checked + search-form__pseudo-checkbox + span::after {
  content: '';
  background-color: #fff;
  background-position: center;
  width: 15px;
  height: 15px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  cursor: pointer;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: inherit;
  line-height: 22px;
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  align-self: end;
  cursor: pointer;
  height: 34px;
}

button:focus {
  outline: none;
}

.button:hover {
  border: 1px solid rgb(255, 255, 255); 
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  background: rgb(84, 80, 80);
}

.button:focus-visible{
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.search-form__submit-button {
  margin-top: 15px;
  width: 194px;
  letter-spacing: 1px;
  cursor: pointer;
}

.content__details {
  height: 534px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 30px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.content__accent {
  color: rgb(84, 80, 80);
}

.content__list {
  max-block-size: 280px; 
  overflow-y: scroll;
  max-width: 394px;
  max-height: 298px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: auto;
  gap: 30px;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgb(84, 80, 80);
  position: relative;
  inset: 0;
}

.content__card-link_current {
  color: #fff;
  cursor: pointer;
  background-color: #545454;
}

.content__card-link:active {
  color: #fff;
  background-color: #545454;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link {
  margin: 2px;
  display: block; /* нужно сделать блочным*/
  text-decoration: none;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;  
}

.content__video-card-title {
  color: #fff;
  font-family: 'Oswald', sans-serif; 
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif ;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
}

.content__video-card-description-container {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 394px;
  white-space: nowrap;
  background-color: (255, 255, 255);
}

.content__video-card-thumbnail {
   width: 194px;
   height: 103px;
}

.more-button {
  width: 100%;
  
}

.error {
  background-color: rgb(84, 80, 80);
}

.error__title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: inherit;
  font-weight: 400;
}