*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  inline-size: 1200px;
  block-size: 100%;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content { 
  display: flex;
  align-items: end;
  inline-size: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: start;
  gap: 40px;
  margin-top: 18px;
  cursor: pointer;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 5px;
}

.search-form__label:focus {
  outline: 0;
  text-decoration: underline;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

.search-form__fieldset-title {
  display: flex;
  min-width: 212px;
  align-items: start;
  font-weight: inherit;
  line-height: 22px;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  margin-bottom: 5px;
}

.search-form__textfield {
  display: flex;
  align-items: start;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  appearance: none;
  line-height: 22px;
  text-align: left;
  background-color: transparent;
  min-width: 225px;
  min-height: 27px;
  border-bottom: 1px solid currentColor;
  border-top: 1px solid #fff;
  border-left: none;
  border-right: none;
  color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active { 
  border: 1px solid #fff;
  outline: none;
}

.search-form__checkbox {
  opacity: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height:19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  display: block;
  background-color: #fff;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
}

.search-form__pseudo-checkbox:active {
 border: 1px solid #fff;
}

.search-form__pseudo-checkbox:focus {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label-text {
  appearance: 0;
}

.search-form__label-text :focus {
  outline: none;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: inherit;
  line-height: 22px;
  border: 1px solid currentColor;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  align-self: end;
  cursor: pointer;
  height: 34px;
}

button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  background: rgb(84, 80, 80);
  text-decoration: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 100%;
  cursor: pointer;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(84, 80, 80);
}

.content__list {
  block-size: 298px; 
  overflow-y: auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  overflow: auto;
  padding-left: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__card-link {
  margin: 2px;
  display: block;
  text-decoration: none;
}

.content__card-link_current {
  color: #fff;
  cursor: pointer;
  background-color: #545454;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  color: #fff;
  background-color: #545454;
}

.content__card-link:focus-visible {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 1px;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  object-position: center;
  object-fit: cover; 
}

.content__video-card-title {
  color: #fff;
  font-family: 'Oswald', sans-serif; 
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
  max-width: 200px;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif ;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  max-width: 200px;
}

.content__video-card-description-container {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 394px;
  white-space: nowrap;
  background-color: (255, 255, 255);
}

.content__video-card-thumbnail {
   width: 194px;
   height: 103px;
   object-position: center;
   object-fit: cover;
}

.more-button {
  width: 100%;
}